/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.header {
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 0vw 2.7vw;
  gap: 12px;
  width: 100%;
}

.page {
  max-width: 100%;
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--main-color);
  display: grid;
  grid-auto-rows: 1fr max-content 1fr;
  gap: 40px;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.decorated-zone {
  position: relative;
}

.record {
  position: absolute;
  justify-self: end;
  margin-right: 38px;
  margin-block-start: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
  top: 0;
}

.record::after {
  content: "";
  display: inline;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: blur(1px);
  margin-left: 7.4px;
  margin-top: 7.2px;
  top: 0;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-block-start: 66px;
  margin-inline-end: 0px;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
}

.header__theme-menu-item {
  line-height: 18px;
  font-size: 18px;
}

.header__theme-menu-button {
  color: var(--title-accent-color);
  text-transform: lowercase;
  background-color: rgba(0, 0, 0, 0);
  outline: 1px solid rgba(0, 0, 0, 0);
  padding: 2.7px 13px;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--title-accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-button);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--title-accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}
.main__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--accent-letters-color);
}

.header__title {
  margin-block-end: 42px;
  margin-block-start: 46px;
}

.header__paragraph {
  color: var(--main-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 4rem;
  white-space: pre-line;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  display: inline;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
}
.decorated-zone::before {
  border-bottom: 1px solid var(--title-accent-color);
  border-left: 1px solid var(--title-accent-color);
  margin-block-end: 9px;
  margin-inline-start: 10px;
  align-self: end;
  bottom: 0;
}

.decorated-zone::after {
  border-top: 1px solid var(--title-accent-color);
  border-right: 1px solid var(--title-accent-color);
  margin-block-start: 11px;
  margin-inline-end: 10px;
  justify-self: end;
  align-self: start;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 0 2.7vw;
}

.content__list {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 20px;
}

.content__list__item {
  display: grid;
  gap: 10px;
  grid-template-rows: min-content max-content;
}

.content__title {
  color: var(--title-accent-color);
}

.subtitle {
  background-color: var(--accent-color);
  color: var(--main-color);
  font-weight: 400;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.content__pargraph {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.content-section {
  display: grid;
  grid-template-rows: repeat(1, minmax(min-content, max-content));
  gap: 20.5px;
}

.content__card__img {
  display: grid;
  gap: 9px;
}

.card__list__img {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10.5px;
}

.card__list__item__img {
  max-width: 100%;

  object-fit: cover;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

@media (width >= 768px) {
  .page {
    gap: 72px;
  }

  .header {
    padding: 0vw 20px 0px 0px;
  }

  .header__theme-menu {
    margin-block-start: 192px;    
  }

  .main__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    justify-self: start;
    margin-block-start: 165px;
    margin-block-end: 148px;
  }

  .header__paragraph {
    align-self: flex-start;
    justify-self: end;
    width: calc(50% - 1.2vw);
  }

  .record {
    margin-block-start: 20px;
    margin-inline-end: 48px;
  }

  .content {
    gap: 80px;
    padding: 0px 20px;
  }

  .content__card__img {
    gap: 20px;
  }
  .card__list__item__img {
    height: 100%;
  }

  .section__why {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__what {
    grid-template-rows: min-content 1fr;
    gap: 18px;
  }
  .section__what .content__title {
    width: 30%;
  }

  .section__how {
    grid-template-columns: 1fr 2fr;
  }

  .section__how .content__title {
    grid-row-start: span 2;
  }

  .card__list__img {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
  }

  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape {
    grid-row: 2 / 4;
  }

  .street {
    grid-column: 2 / 4;
  }

  .footer__title {
    margin-inline-end: 0vw;
    margin-block-end: 1.5vw;
  }

  .decorated-zone::before {
    margin-inline-start: 20px;
    margin-block-end: 8px;
  }

  .decorated-zone::after {
    margin-block-start: 20px;
    margin-inline-end: 20px;
  }
  .footer.decorated-zone::before {
    margin-block-end: 21px;
  }

  .footer.decorated-zone::after {
    margin-block-start: 8px;
  }
}

@media (width >= 1024px) {
  .page {
    gap: 74px;
  }

  .header__theme-menu {
    margin-block-start: 20px;
    margin-inline-start: 20px;
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .header__title {
    margin-block-start: 116px;
    margin-block-end: 101px;
  }

  .header__paragraph {
    margin-block-end: 121px;
  }

  .section__why {
    gap: 12px;
  }

  .section__what .content__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .section__how {
    column-gap: 10px;
  }

  .footer__title {
    margin-block-end: 1.1vw;
  }
}
